@model List<ResultProductWithCategoryDto>
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Günün 3 Fırsatı</h3>
            <div class="row mt-lg-5 mt-4 pt-3">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="grids5-info">
                            <span class="posted-date">
                                <a href="@Url.Action("PropertySingle", "Property", new { slug = item.SlugUrl ?? "ilan-detay", id = item.ProductID })">
                                    <span class="small">@item.Date.Year</span>
                                    <span class="big">@item.Date.Day</span>
                                    <span class="small">@item.Date.ToString("MMMM", new System.Globalization.CultureInfo("tr-TR"))</span>
                                </a>
                            </span>
                            <a href="@Url.Action("PropertySingle", "Property", new { slug = item.SlugUrl ?? "ilan-detay", id = item.ProductID })" class="d-block zoom">
                                <img src="@item.CoverImage" alt=""
                                     class="img-fluid news-image"
                                     style="height: 250px; width: 100%; object-fit: cover;" />
                            </a>
                            <div class="blog-info">
                                <a href="@Url.Action("PropertySingle", "Property", new { slug = item.SlugUrl ?? "ilan-detay", id = item.ProductID })" class="category">@item.Type</a>
                                <h4><a href="@Url.Action("PropertySingle", "Property", new { slug = item.SlugUrl ?? "ilan-detay", id = item.ProductID })">@item.Title</a></h4>
                                <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; line-height: 1.5em; height: 3em; margin-bottom: 0;">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
