@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "İlanlar";
    Layout = "~/Views/Admin/Index.cshtml";
    var count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">İlanlar</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">İlan Tarihi</th>
                                <th scope="col">Kapak Resmi</th>
                                <th scope="col">İlan Başlığı</th>
                                <th scope="col">Şehir</th>
                                <th scope="col">İlçe</th>
                                <th scope="col">İlan Kategorisi</th>
                                <th scope="col">İlan Fiyatı (₺)</th>
                                <th scope="col">İlan Türü</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sitede Gör</th>
                                <th scope="col">Günün Fırsatı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Date.ToString("dd.MM.yyyy")</td>
                                    <td>
                                        <img src="@(string.IsNullOrEmpty(item.CoverImage) ? "/productImages/default.png" : item.CoverImage)"
                                             alt="@item.Title"
                                             width="80" />
                                    </td>
                                    <td>@item.Title</td>
                                    <td>@item.City</td>
                                    <td>@item.District</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Price</td>
                                    <td>@item.Type</td>
                                    <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-outline-success">Güncelle</a></td>
                                    <td><a href="/Product/ProductDetail/@item.ProductID" class="btn btn-outline-primary">Detay</a></td>
                                    <td class="text-center align-middle">
                                        @if (item.DealOfTheDay)
                                        {
                                            <a href="/Product/ChangeDealOfTheDayStatusToFalse/@item.ProductID"
                                               class="toggle-switch active"
                                               title="Pasif Yap"></a>
                                        }
                                        else
                                        {
                                            <a href="/Product/ChangeDealOfTheDayStatusToTrue/@item.ProductID"
                                               class="toggle-switch passive"
                                               title="Aktif Yap"></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Product/CreateProduct" class="btn btn-outline-info">Yeni İlan Girişi</a>
                </div>
            </div>
        </div>
    </div>
</div>

