@model List<ResultProductWithCategoryDto>
@{
    var count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Son Eklenen İlanlar</h6>
            <a href="/Product/Index">Hepsini Gör</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">İlan Tarihi</th>
                        <th scope="col">Kapak Resmi</th>
                        <th scope="col">İlan Başlığı</th>
                        <th scope="col">Şehir - İlçe</th>
                        <th scope="col">İlan Türü</th>
                        <th scope="col">İlan Fiyatı (₺)</th>
                        <th scope="col">İlanı Gör</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Date.ToString("dd.MM.yyyy")</td>
                            <td>
                                <img src="@(string.IsNullOrEmpty(item.CoverImage) ? "/productImages/default.png" : item.CoverImage)"
                                     alt="@item.Title"
                                     width="80" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.City - @item.District</td>
                            <td>@item.Type</td>
                            <td>@item.Price</td>
                            <td><a class="btn btn-sm btn-primary" href="/Products/">Detay</a></td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>