@model List<RealEstate_Dapper_UI.Dtos.ProductDtos.ResultProductAdvertListWithCategoryByEmployeeDto>
@{
    ViewData["Title"] = "ActiveAdverts";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
    var count = 0; 
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h6 class="mb-0">Aktif İlanlarınız</h6>
                    <a href="/EstateAgent/MyAdverts/CreateAdvert" class="btn btn-outline-info">
                        <i class="fa fa-plus mr-1"></i> Yeni İlan Girişi
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">İlan Tarihi</th>
                                <th scope="col">Kapak Resmi</th>
                                <th scope="col">İlan Başlığı</th>
                                <th scope="col">İlan Kategorisi</th>
                                <th scope="col">İlan Fiyatı (₺)</th>
                                <th scope="col">İlan Türü</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Sitede Gör</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.date.ToString("dd.MM.yyyy")</td>
                                    <td>
                                        <img src="@(string.IsNullOrEmpty(item.coverimage) ? "/productImages/default.png" : item.coverimage)"
                                             alt="@item.title"
                                             width="80" />
                                    </td>
                                    <td>@item.title</td>
                                    <td>@item.categoryName</td>
                                    <td>@item.price</td>
                                    <td>@item.type</td>
                                    <td><a href="/EstateAgent/MyAdverts/DeleteAdvert/@item.productID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/EstateAgent/MyAdverts/UpdateAdvert/@item.productID" class="btn btn-outline-success">Güncelle</a></td>
                                    <td class="text-center align-middle">
                                        @if (item.status)
                                        {
                                            <a href="/EstateAgent/MyAdverts/ChangeStatusToFalse/@item.productID"
                                               class="toggle-switch active"
                                               title="Pasif Yap"></a>
                                        }
                                        else
                                        {
                                            <a href="/EstateAgent/MyAdverts/ChangeStatusToTrue/@item.productID"
                                               class="toggle-switch passive"
                                               title="Aktif Yap"></a>
                                        }
                                    </td>
                                    <td><a href="/Product/ProductDetail/@item.productID" class="btn btn-outline-primary">Detay</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


